body {
    display: flex;
    flex-direction: column;
    background-color: #b2bdb3;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;

}

h1 {
    font-size: 3em;
    text-align: center;
    color: #3d3d3d;

}

.center {
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

ul li { 
    font-size: 1.2em;
    list-style: circle;
    padding: 0.2em;
    background-color: rgb(116, 78, 179);
    margin: 0.2em;
    border-radius: 5px;
    flex-wrap: wrap;


}

form input {
    width: 300px;
    height: 30px;
    font-size: 1.2em;
}

.button {
    width: 6em; 
    font-family: 'Courier New', Courier, monospace;
}

div.list {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    padding: 1em;
    background-color: #f2f2f2;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}

/* div.list ul li {
    background-color: #f2f2f2;
    border: 1px solid #cc */
ul li button {
    float: right;
    margin-right: 1em;
    margin-top: 0.2em;
    font-family: 'Courier New', Courier, monospace;
}